<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['']">THE POSTS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLinkActive="active" [routerLink]="['home']">Home
          <!-- <span class="sr-only">(current)</span> -->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLinkActive="active" [routerLink]="['posts']">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLinkActive="active" [routerLink]="['author']">Author</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLinkActive="active" [routerLink]="['login']">Login</a>
      </li>      
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown
        </a> 
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item waves-effect waves-light" href="javascript:;;">Action</a>
          <a class="dropdown-item waves-effect waves-light" href="javascript:;;">Another action</a>
          <a class="dropdown-item waves-effect waves-light" href="javascript:;;">Something else here</a>
        </div>
      </li> -->
    </ul>
    
    <div class="navbar-nav"> 
      <div class="nav-item">
        <a class="nav-link  waves-effect waves-light active">Hii nirmal</a>
      </div>
    </div>

    <form class="form-inline">
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      </div>
    </form>
  </div>
</nav>